* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: black;

}

header {
  background-color: #7FFFD3;
  padding-left: 2rem;
  padding: 2rem;
}

main {
  padding-left: 2rem;
  padding: 2rem;

  h2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  li {
    list-style: none;
    font-size: 1.2rem;
  }
}

.estimatedTime {
  padding-bottom: 1rem;
  padding-top: 0.5rem;
}

.badge {
  background-color: #D2691E;
  margin-left: 1rem;
  border: 0.5rem solid transparent;
  color: white;
}